---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';

const pageTitle = "About";

const identity = {
  firstName: "Mike",
  country: "australia",
  occupation: "Software Engineer",
  hobbies: ["Music", "bouldering", "bike-riding", "fantasy novels"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs", "Unity"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

---
<Navigation />

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, textCase, fontWeight}}>
			h1 {
			  color: rgb(0, 0, 0);
			  font-size: 4rem;
			}
			.skill {
            color: var(--skillColor);
            font-weight: var(--fontWeight);
            text-transform: var(--textCase);
            }
		  </style>
	</head> 
	    <h1>{pageTitle}</h1>
	<body>
		<h1>This is a project by Mike</h1>
        
		<p>Here are a few facts about Mike:</p>
		<ul>
			<li>My name is {identity.firstName}.</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
			{identity.hobbies.length >= 2 &&
			    <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
			}
         </ul>
         <p>His skills are:</p>
         <ul>
             {skills.map((skill) => <li class="skill">{skill}</li>)}
         </ul>

	{happy && <p>I am happy to be learning</p>}

	{finished && <p>I finished this tutorial!</p>}
		 
	{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</html>